#client-section .client-heading {
    font-size: 60px;
    width: 389px;
    display: inline-block;
}

#client-section .circular-arrow-icon {
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 105px;
    margin-left: -35px;
}

#client-section .card {
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}

#client-section .expression-img {
    display: block;
    margin: auto;
}

#client-section .client-testimonial {
    font-weight: 700;
}

#client-section .client-testimonial, .client-name, .client-profession {
    text-align: center;
}

#client-section .client-name {
    font-weight: 500;
    padding-top: 15px;
}

#client-section .client-profession {
    color: #B6B6B6;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #client-section .circular-arrow-icon {
        position: absolute;
        display: inline-block;
        z-index: 1;
        margin-top: 105px;
        margin-left: -35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #client-section .client-testimonial,
    .client-name,
    .client-profession {
        text-align: left;
    }

    #client-section .expression-img {
        display: unset;
        margin: unset;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}