#hero-section {
    background-image: url('../images/background/bg-pattern-pink.png');
    background-size: cover;
    height: 100vh;
}

#hero-section h1, p {
    margin: 0;
}

#hero-section h1 {
    font-size: 60px;
    font-weight: 700;
    color: #1A1B23;
}

#hero-section h1::after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #FC2B8E;
    margin-left: -18px;
}

#hero-section p {
    color: #9E9E9E;
    width: 350px;
    margin: 20px 0px 20px 0px;
}

#hero-section .btn.lets-talk-with-us {
    padding: 20px 0px 20px 0px;
    width: 100%;
    margin-top: 15px;
    display: block;
    margin: auto;
}


/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #hero-section {
        height: 100vh;
    }

    #hero-section h1 {
        font-size: 80px;
    }

    #hero-section .btn.lets-talk-with-us {
        padding: 20px 30px 20px 30px;
        display: inline-block;
        width: unset;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}