#services-section .services-heading {
    font-size: 50px;
    font-weight: 700;
    width: 310px;
    display: block;
    margin: auto;
}

#services-section .services-desc {
    width: 320px;
    padding: 24px 0px 24px 0px;
    display: block;
    margin: auto;
}

#services-section .btn.check-our-works {
    background-color: #FC2B8E;
    color: #ffffff;
    font-weight: 700;
    padding: 20px 30px 20px 30px;
    border-radius: 16px;
    box-shadow: 0px 12px 25px rgba(252, 43, 142, 0.14);
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 35px;
}

#services-section .circular-arrow {
    padding-left: 235px;
}

#services-section .card {
    border: 1px solid #EEEEEE;
    border-radius: 6px;
}

#services-section .card .heading {
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

#services-section .card .desc {
    font-size: 15px;
    color: #9A9A9A;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #services-section .services-heading {
        width: 100px;
        font-size: 70px;
        display: unset;
    }

    #services-section .services-desc {
        margin: unset;
    }

    #services-section .btn.check-our-works {
        display: inline-block;
        width: unset;
        margin-top: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}